.modal {
  position: fixed;
  z-index: 1;
  transition: all 0.2s ease;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0; }
  .modal-content {
    background: #ffffff;
    padding: 30px; }

.visible {
  visibility: visible;
  opacity: 1; }
