@import "./styles/colors.scss";
@import "./styles/helpers.scss";

$border: $light-gray;
$image-background: $light-sand;
$button-add: $green;
$button-hover: $dark-green;
$sale-text: $dark-sand;
$text: $white;

.card-list {
    &-item {
        width: 25%;
        position: relative;

        &:nth-child(4n) {
            padding-right: 0;
        }

        &-figure {
            margin: 0 10px 10px 0;
            border: 1px solid $border;
            position: relative;
            cursor: pointer;
            transition: all 0.2s ease-out;

            &:hover {
                transform: scale(1.01);
                box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.15); 

                & + .card-list-item-edit, .card-list-item-edit:hover {
                    opacity: 1;
                }
            }

            &.sale:after {
                content: 'SALE!';
                height: 25px;
                width: 55px;
                top: 8px;
                background-color: rgba(123, 186, 88, 0.8);
                right: -5px;
                position: absolute;
                color: $text;
                font-size: 14px;
                align-items: center;
                display: flex;
                justify-content: center;
                box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
                transform: rotate(45deg);
            }
        }

        &-image {
            background-color: $image-background;
            width: 100%;
            height: auto;
            padding: 15px 0;
            box-sizing: border-box;
            display: block;
        }

        &-details {
            padding: 15px;
            background-color: rgba(242, 242, 242, 1);
            box-sizing: border-box;
            @include center;
            @include column;
        }

        &-title {
            margin: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: center;
            width: 150px;
        }

        &-price {
            font-weight: bold;
            margin: 8px 0;

            &-sale {
                font-size: 14px;
                text-decoration: line-through;
                color: $sale-text;
                margin-right: 5px;
            }
        }

        &-button, &-edit {
            text-transform: UPPERCASE;
            color: $text;
            background-color: $button-add;
            border: none;
            font-size: 12px;
            font-weight: bold;
            transition: all 0.2s ease-in;
            cursor: pointer;

            &:hover {
                background-color: $button-hover;
                opacity: 1;
            }
        }

        &-button {
            width: 150px;
            height: 30px;
        }

        &-edit {
            position: absolute;
            top: 5px;
            left: 5px;
            height: 20px;
            opacity: 0;
        }
    }
}

.hidden {
    display: none;
}


@media only screen and (min-width: 769px) and (max-width: 1151px) {
    .card-list-item {
        width: 33.33%;

        &-button {
            width: 120px;
        }

        &-figure:nth-child(3n) {
            margin: 0
        }
    }
}

@media only screen and (max-width: 768px) {

    .card-list-item {
        width: 50%;

        &-title {
            width: 90%;
        }

        &-button {
            width: 100px;
        }
    }
}
