.loader {
  border: 5px solid #7dbb5b;
  border-radius: 50%;
  border-top: 5px solid #ffffff;
  width: 25px;
  height: 25px;
  animation: spin 0.75s linear infinite;
  transform: translateY(50%);
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin: auto; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
