@import '../../../assets/styles/helpers.scss';
@import '../../../assets/styles/colors.scss';

$border: $light-gray;

.sorting-header {
    padding: 10px 0;
    border-top: 1px solid $border;
    border-bottom: 1px solid $border;
    @include space-between;
    @include aligned;

    &-label {
        font-size: 15px;
    }

    &-dropdown {
        padding: 5px;
        text-transform: uppercase;
        border: 1px solid $border;
    }
}