<div class="sorting-header">
	<span class="sorting-header-label">Showing 1-10 of 23 results</span>
	<select class="sorting-header-dropdown">
		<option value="default">Default sorting</option>
		<option value="lowest">Lowest price</option>
		<option value="highest">Highest price</option>
	</select>
</div>