@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin justified {
    display: flex;
    justify-content: center;
}

@mixin aligned {
    display: flex;
    align-items: center;
}

@mixin space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin column {
    display: flex;
    flex-direction: column;
}

@mixin row {
    display: flex;
    flex-direction: row;
}

@mixin visible {
    visibility: visible;
    opacity: 1;
}

@mixin hidden {
    visibility: hidden;
    opacity: 0;
}

@mixin display-none {
    display: none;

}