@import './helpers.scss';
@import './colors.scss';

$navbar-background: $black;
$navbar-hover: $black;
$navbar-text: $white;
$navbar-menu-background: $dark-gray;

.header {
    background-color: $navbar-background;
    height: 120px;

    &-navbar {
        background-color: $navbar-menu-background;
        height: 80px;
        position: relative;

        &-menu {
            justify-content: flex-start;
            margin: auto;
            padding: 0 60px;
            @include aligned;
    
            &-tab {
                color: $navbar-text;
                text-transform: uppercase;
                margin: 10px;
                cursor: pointer;
                text-decoration: none;
            }
        }
    }

    &-title {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .navbar {
        &:hover > .navbar-wrapper {
            opacity: 1;
            height: 80px;
            background-color: $navbar-hover;
        }

        &-wrapper {
            flex-direction: column;
            opacity: 0;
            padding-top: 40px;
            transition: all 0.2s ease-out;
        }

        &-title {
            display: block;
            color: $navbar-text;
            text-transform: uppercase;
            text-align: center;
            padding: 10px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}