@import '../../styles/helpers.scss';
@import '../../styles/colors.scss';

$border: $light-gray;
$text: $white;
$button-save: $green;
$button-save-hover: $dark-green;

.form {
    box-sizing: border-box;
    margin: auto;
    @include center;
    @include column;

    &-title {
        margin: 0;
    }

    &-input {
        align-self: center;
        width: 400px;

        &.discount {
            @include aligned;
            @include space-between;
        }
    }
}

.input {
    padding: 5px 10px;    
    border-radius: 4px;
    border: 1px solid $border;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;

    &-price {
        margin-bottom: 0;
        @include hidden;
    }
}

.checbox-block {
    width: 50%;
    @include aligned;
}

.label {
    margin-bottom: 5px;
    font-size: 15px;

    &-discount {
        margin-bottom: 0;
    }
}

.button {
    width: 400px;
    height: 30px;
    text-transform: UPPERCASE;
    color: $text;
    border: none;
    font-size: 12px;
    font-weight: bold;
    transition: all 0.2s ease-in;
    cursor: pointer;
    margin-top: 15px;

    &-save {
        background-color: #7dbb5b;

        &:hover {
            background-color: #638f4b;
        }
    }

    &-delete {
        background-color: #ac2727;
        margin-top: 7px;

        &:hover {
            background-color: #8b1e1e;
        }
    }
}

.hidden {
    @include display-none;
}

.visible {
    @include visible;
}