.form {
  box-sizing: border-box;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column; }
  .form-title {
    margin: 0; }
  .form-input {
    align-self: center;
    width: 400px; }
    .form-input.discount {
      display: flex;
      align-items: center;
      display: flex;
      align-items: center;
      justify-content: space-between; }

.input {
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid #d2d2d2;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px; }
  .input-price {
    margin-bottom: 0;
    visibility: hidden;
    opacity: 0; }

.checbox-block {
  width: 50%;
  display: flex;
  align-items: center; }

.label {
  margin-bottom: 5px;
  font-size: 15px; }
  .label-discount {
    margin-bottom: 0; }

.button {
  width: 400px;
  height: 30px;
  text-transform: UPPERCASE;
  color: #ffffff;
  border: none;
  font-size: 12px;
  font-weight: bold;
  transition: all 0.2s ease-in;
  cursor: pointer;
  margin-top: 15px; }
  .button-save {
    background-color: #7dbb5b; }
    .button-save:hover {
      background-color: #638f4b; }
  .button-delete {
    background-color: #ac2727;
    margin-top: 7px; }
    .button-delete:hover {
      background-color: #8b1e1e; }

.hidden {
  display: none; }

.visible {
  visibility: visible;
  opacity: 1; }
