<div class="items">
	<div class="items-header">
		<h1 class="main-header-title">T-shirt Shop</h1>
		<span class="main-header-breadcrumb">Home/Shop</span>
    </div>

	<app-sorting-header></app-sorting-header>

	<ul class="items-list">
		<app-shop-item *ngFor="let shopItem of shopItems" [shopItem]="shopItem"></app-shop-item>
    </ul>
</div>

