@import '../../../../assets/styles/helpers.scss';
@import '../../../../assets/styles/colors.scss';

.items {
    background-color: rgba(242, 242, 242, 0.80);
    padding: 15px;
    margin-right: 20px;
    position: relative;
    box-sizing: border-box;

    &-header {
        @include space-between;
        @include aligned;

        &-title {
            font-weight: 300;
            margin: 15px 0;
            width: 50%;
        }

        &-breadcrumb {
            text-transform: uppercase;
            font-size: 14px
        }
    }

    &-list {
        margin: 0;
        padding: 15px 0 0 0;
        list-style-type: none;
        display: flex;
        flex-flow: row wrap;
        height: 100%;
        width: 100%;
    }
}
