body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-image: url(../src/assets/images/wood_background.jpg);
    background-size: cover;
}

html {
    height: 100%;
}