.aside {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column; }
  .aside-article {
    background-color: rgba(242, 242, 242, 0.8);
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .aside-article-content {
      width: 100%; }
      .aside-article-content-input {
        padding: 5px 10px;
        border-radius: 4px;
        border: 1px solid #d2d2d2;
        width: 100%;
        box-sizing: border-box; }
      .aside-article-content-title {
        font-size: 22px;
        font-weight: 300;
        margin: 0;
        padding-bottom: 15px;
        border-bottom: 2px dotted #3D3D3D; }
      .aside-article-content-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
        margin-top: 15px; }
        .aside-article-content-list-item {
          margin-bottom: 5px;
          font-size: 16px; }
          .aside-article-content-list-item:last-child {
            margin-bottom: 0; }
    .aside-article:nth-child(1) {
      height: auto;
      box-sizing: border-box; }
    .aside-article:last-child {
      margin-bottom: 0; }

@media only screen and (max-width: 768px) {
  .aside {
    width: 100%; } }
