.header {
  background-color: #020101;
  height: 120px; }
  .header-navbar {
    background-color: #141414;
    height: 80px;
    position: relative; }
    .header-navbar-menu {
      justify-content: flex-start;
      margin: auto;
      padding: 0 60px;
      display: flex;
      align-items: center; }
      .header-navbar-menu-tab {
        color: #ffffff;
        text-transform: uppercase;
        margin: 10px;
        cursor: pointer;
        text-decoration: none; }
  .header-title {
    display: none; }

@media only screen and (max-width: 768px) {
  .navbar:hover > .navbar-wrapper {
    opacity: 1;
    height: 80px;
    background-color: #020101; }
  .navbar-wrapper {
    flex-direction: column;
    opacity: 0;
    padding-top: 40px;
    transition: all 0.2s ease-out; }
  .navbar-title {
    display: block;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); } }
