@import '../../../assets/styles/helpers.scss';
@import '../../../assets/styles/colors.scss';

$header-background: $dark-gray;
$navbar-hover: $black;
$navbar-text: $white;
$navbar-background: $black;

.header {
    background-color: $header-background;
    height: 120px;
    justify-content: flex-end;
    margin-bottom: 20px;
    @include column;

    &-navbar {
        background-color: $navbar-background;
        height: 40px;
        position: relative;
        @include aligned;
        padding: 0 60px;

        &-tab {
            color: $navbar-text;
            text-transform: uppercase;
            margin: 10px;
            cursor: pointer;
            text-decoration: none;
        }
    }

    &-title {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .navbar {
        &:hover > .navbar-wrapper {
            opacity: 1;
            height: 80px;
            background-color: $navbar-hover;
        }

        &-wrapper {
            flex-direction: column;
            opacity: 0;
            padding-top: 40px;
            transition: all 0.2s ease-out;
        }

        &-title {
            display: block;
            color: $navbar-text;
            text-transform: uppercase;
            text-align: center;
            padding: 10px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}