@import './styles/helpers.scss';
@import './styles/colors.scss';

$modal-background: $white;

.modal {
    position: fixed;
    z-index: 1;
    transition: all 0.2s ease;
    width: 100%;
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    transition: all 0.3s ease;
    @include center;
    @include hidden;
    
    &-content {
        background: $modal-background;
        padding: 30px;
    }
}

.visible {
    @include visible
}