<form class="form" id="form">
    <h3>{{title}}</h3>
    <div class="form-field">
        <label class="form-field-label" for="title">Title</label>
        <input class="form-field-input" type="text" id="title" name="name" [(ngModel)]="shopItem.name"/>
    </div>
    
    <div class="form-field">
        <label class="form-field-label" for="price">Price</label>
        <input class="form-field-input" type="number" id="price" name="price" [(ngModel)]="shopItem.price"/>
    </div>

    <div class="form-field">
        <label class="form-field-label" for="selection">Select item</label>
        <select class="form-selection form-field-input" id="selection" name="image" [(ngModel)]="shopItem.image">
            <option value="" disabled selected>Select t-shirt</option>
            <option *ngFor="let image of images" value={{image.url}}>{{ image.name }}</option>;
        </select>
    </div>

    <div class="form-field discount">
        <div class="checbox-block">
            <input type="checkbox" id="checkbox" (click)="addDiscount()" [checked]="hasDiscount" >
            <label class="form-field-label form-field-label-discount" for="selection">discount</label>
        </div>
        <input *ngIf="hasDiscount"
            class="form-field-input form-field-input-price" 
            id="discount" 
            type="number"
            name="discount" 
            [(ngModel)]="shopItem.discount"
        />
    </div>

    <button type="button" class="form-button form-button-save" id="save" (click)="shopItem.id ? editItem() : addItem()">Save</button>
    <button type="button" class="form-button form-button-delete" id="delete" (click)="deleteItem()">Delete</button>
</form>