@import '../../../../assets/styles/helpers.scss';
@import '../../../../assets/styles/colors.scss';

$border: $light-gray;
$text: $white;
$button-save: $green;
$button-save-hover: $dark-green;
$button-delete: $red;
$button-delete-hover: $dark-red;

.form {
    box-sizing: border-box;
    margin: auto;
    padding: 40px 20px;
    @include center;
    @include column;

    &-title {
        margin: 0;
    }

    &-field {
        align-self: center;
        width: 400px;

        &.discount {
            @include aligned;
            @include space-between;
        }

        &-label {
            margin-bottom: 5px;
            font-size: 15px;

            &-discount {
                margin-bottom: 0;
            }
        }

        &-input {
            padding: 5px 10px;    
            border-radius: 4px;
            border: 1px solid $border;
            width: 100%;
            box-sizing: border-box;
            margin-bottom: 10px;

            &-price {
                margin-bottom: 0;
            }
        }
    }

    &-button {
        width: 400px;
        height: 30px;
        text-transform: UPPERCASE;
        color: $text;
        border: none;
        font-size: 12px;
        font-weight: bold;
        transition: all 0.2s ease-in;
        cursor: pointer;
        margin-top: 15px;
    
        &-save {
            background-color: $button-save;
    
            &:hover {
                background-color: $button-save-hover;
            }
        }
    
        &-delete {
            background-color:$button-delete;
            margin-top: 7px;
    
            &:hover {
                background-color: $button-delete-hover;
            }
        }
    }
}

.checbox-block {
    width: 50%;
    @include aligned;
}


.hidden {
    @include display-none;
}

.visible {
    @include visible;
}