@import '../../../assets/styles/helpers.scss';
@import '../../../assets/styles/colors.scss';

$header-background: $dark-gray;
$text: $gray;
$border: $light-gray;

.shop-content {
    padding: 0 20px;
    @include space-between;

    &-right {
        width: 30%;
    }

    &-left {
        width: 70%;
    }
}

.add-button {
    height: 49px;
    width: 49px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    background: url(../../../assets/images/add_button.png) no-repeat 0 0;
    background-size: 100px;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.5);

    &:hover {
        background-position: -50px;
    }
}