<div class="shop-content">
    <div class="shop-content-left">
        <app-shop-items-list></app-shop-items-list>
    </div>

    <div class="shop-content-right">
		<app-sidebar></app-sidebar>
    </div>

    <button 
        type="button" 
        class="add-button" 
        id="add-button" 
        (click)="openModal()">
    </button>
</div>