$white: #ffffff;

$light-gray: #d2d2d2;
$gray: #3D3D3D;
$dark-gray: #141414;

$black: #020101;

$light-sand: #eeeeee;
$dark-sand: #A3A3A3;

$green: #7dbb5b;
$dark-green: #638f4b;

$red: #ac2727;
$dark-red: #8b1e1e;