.card-list-item {
  width: 25%;
  position: relative; }
  .card-list-item:nth-child(4n) {
    padding-right: 0; }
  .card-list-item-figure {
    margin: 0 10px 10px 0;
    border: 1px solid #d2d2d2;
    position: relative;
    cursor: pointer;
    transition: all 0.2s ease-out; }
    .card-list-item-figure:hover {
      transform: scale(1.01);
      box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.15); }
      .card-list-item-figure:hover + .card-list-item-edit, .card-list-item-figure:hover .card-list-item-edit:hover {
        opacity: 1; }
    .card-list-item-figure.sale:after {
      content: 'SALE!';
      height: 25px;
      width: 55px;
      top: 8px;
      background-color: rgba(123, 186, 88, 0.8);
      right: -5px;
      position: absolute;
      color: #ffffff;
      font-size: 14px;
      align-items: center;
      display: flex;
      justify-content: center;
      box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
      transform: rotate(45deg); }
  .card-list-item-image {
    background-color: #eeeeee;
    width: 100%;
    height: auto;
    padding: 15px 0;
    box-sizing: border-box;
    display: block; }
  .card-list-item-details {
    padding: 15px;
    background-color: #f2f2f2;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column; }
  .card-list-item-title {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    width: 150px; }
  .card-list-item-price {
    font-weight: bold;
    margin: 8px 0; }
    .card-list-item-price-sale {
      font-size: 14px;
      text-decoration: line-through;
      color: #A3A3A3;
      margin-right: 5px; }
  .card-list-item-button, .card-list-item-edit {
    text-transform: UPPERCASE;
    color: #ffffff;
    background-color: #7dbb5b;
    border: none;
    font-size: 12px;
    font-weight: bold;
    transition: all 0.2s ease-in;
    cursor: pointer; }
    .card-list-item-button:hover, .card-list-item-edit:hover {
      background-color: #638f4b;
      opacity: 1; }
  .card-list-item-button {
    width: 150px;
    height: 30px; }
  .card-list-item-edit {
    position: absolute;
    top: 5px;
    left: 5px;
    height: 20px;
    opacity: 0; }

.hidden {
  display: none; }

@media only screen and (min-width: 769px) and (max-width: 1151px) {
  .card-list-item {
    width: 33.33%; }
    .card-list-item-button {
      width: 120px; }
    .card-list-item-figure:nth-child(3n) {
      margin: 0; } }

@media only screen and (max-width: 768px) {
  .card-list-item {
    width: 50%; }
    .card-list-item-title {
      width: 90%; }
    .card-list-item-button {
      width: 100px; } }
