<li class="item-list-item" ng-if="shopItem" id="{{ shopItem.id }}">
    <figure class="item-list-item-figure">
        <img class="item-list-item-image" alt="t-shirt" src="{{ shopItem.image }}">
        <div class="item-list-item-details">
            <h5 class="item-list-item-title">{{ shopItem.name }}</h5>
            <div class="item-list-item-price">
                <span class="item-list-item-price-sale">
                    {{ (shopItem.discount) ? (shopItem.price | formatPrice) : '' }}
                </span>
                <span class="item-list-item-price-regular">
                    {{ (shopItem.discount) ? ((shopItem.price-shopItem.discount) | formatPrice ) : (shopItem.price) | formatPrice }}
                </span>
            </div>
            <button type="button" class="item-list-item-button">Add to cart</button>
        </div>
    </figure>
    <button type="button" class="item-list-item-edit" (click)="openModal()">Edit</button>
</li>