@import '../../styles/colors.scss';

$loader-circle: $green;
$loader-spinner: $white;

.loader {
    border: 5px solid $loader-circle;
    border-radius: 50%;
    border-top: 5px solid $loader-spinner;
    width: 25px;
    height: 25px;
    animation: spin 0.75s linear infinite;
    transform: translateY(50%);
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin: auto;
}
  
@keyframes spin {
    0% { 
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}