body, html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-image: url(../../images/wood_background.jpg);
  background-size: cover;
  color: #3D3D3D; }

html {
  height: 100%; }

.content {
  margin: auto;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  max-width: 1200px; }

.main {
  background-color: rgba(242, 242, 242, 0.8);
  width: 70%;
  padding: 15px;
  box-sizing: border-box;
  margin-right: 20px;
  position: relative; }

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.main-header-title {
  font-weight: 300;
  margin: 15px 0;
  width: 50%; }

.main-header-breadcrumb {
  text-transform: uppercase;
  font-size: 14px; }

.sorting {
  padding: 10px 0;
  border-top: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.sorting-label {
  font-size: 15px; }

.sorting-dropdown {
  padding: 5px;
  text-transform: uppercase;
  border: 1px solid #d2d2d2; }

.add-button {
  height: 49px;
  width: 49px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  background: url(../../images/add_button.png) no-repeat 0 0;
  background-size: 100px;
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.5); }

.add-button:hover {
  background-position: -50px; }

@media only screen and (max-width: 768px) {
  .content {
    display: flex;
    flex-direction: column; }
  .main {
    width: 100%; }
  .main {
    margin-right: 0;
    margin-bottom: 20px; } }
