@import '../../../assets/styles/helpers.scss';
@import '../../../assets/styles/colors.scss';

$border: $light-gray;
$text: $gray;

.aside {
    height: 100%;
    width: 100%;
    @include column;

    &-article {
        background-color: rgba(242, 242, 242, 0.80);
        margin-bottom: 20px;
        padding: 20px;
        @include center;

        &-content {
            width: 100%;

            &-input {
                padding: 5px 10px;    
                border-radius: 4px;
                border: 1px solid $light-gray;
                width: 100%;
                box-sizing: border-box;
            }

            &-title {
                font-size: 22px;
                font-weight: 300;
                margin: 0;
                padding-bottom: 15px;
                border-bottom: 2px dotted $text;;
            }

            &-list {
                list-style-type: none;
                padding: 0;
                margin: 0;
                margin-top: 15px;

                &-item {
                    margin-bottom: 5px;
                    font-size: 16px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }

        &:nth-child(1) {
            height: auto;
            box-sizing: border-box; 
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

@media only screen and (max-width: 768px) {
    .aside {
        width: 100%;
    }
}