<aside class="aside">
    <article class="aside-article">
        <div class="aside-article-content">
            <input class="aside-article-content-input" type="text" placeholder="Search & hit enter">
        </div>
    </article>
    <article class="aside-article">
        <div class="aside-article-content">
            <h2 class="aside-article-content-title">Recent posts</h2>
            <ul class="aside-article-content-list">
                <li class="aside-article-content-list-item">Honest Qualities</li>
                <li class="aside-article-content-list-item">Honest Qualities</li>
                <li class="aside-article-content-list-item">Honest Qualities</li>
                <li class="aside-article-content-list-item">Honest Qualities</li>                        
            </ul>
        </div>
    </article>
    <article class="aside-article">
        <div class="aside-article-content">
            <h2 class="aside-article-content-title">Recent comments</h2>
            <ul class="aside-article-content-list">
                <li class="aside-article-content-list-item">Honest Qualities</li>
                <li class="aside-article-content-list-item">Honest Qualities</li>
                <li class="aside-article-content-list-item">Honest Qualities</li>
                <li class="aside-article-content-list-item">Honest Qualities</li>                        
            </ul>
        </div>
    </article>
    <article class="aside-article">
        <div class="aside-article-content">
            <h2 class="aside-article-content-title">Archive</h2>
            <ul class="aside-article-content-list">
                <li class="aside-article-content-list-item">Honest Qualities</li>                        
            </ul>
        </div>
    </article>
    <article class="aside-article">
        <div class="aside-article-content">
            <h2 class="aside-article-content-title">Categories</h2>
            <ul class="aside-article-content-list">
                <li class="aside-article-content-list-item">Honest Qualities</li>     
                <li class="aside-article-content-list-item">Honest Qualities</li>                                           
            </ul>
        </div>
    </article>
</aside>